{% extends "polls/base.html" %}
{% load static %}

{% block title %}Encuestas - Inicio{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Encuestas Vencidas</h2>
    <div id="charts-container">
        {% for question in vencidas_list %}
        <div class="card mb-4">
            <div class="card-header">
                <strong><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></strong>
            </div>
            <!-- Por cada pregunta se inicia una grafica. -->
            <div class="card-body p-0">
                <div id="chart-{{ question.id }}" class="chart"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Código JavaScript específico para esta página
</script>
{% endblock %}